.fruit-bar {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajustar según sea necesario */
    margin: 0 auto;
  }
  
  .fruit-bar-background {
    position: relative;
    background-image: url('/game-screen/footer/fruit-bar.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 60px; /* Ajustar según el tamaño de tu imagen */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px; /* Espacio para los bordes laterales de la barra */
  }
  
  .fruit-items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .fruit-item {
    cursor: pointer;
    margin: 0 5px; /* Espacio entre frutas */
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }