.join-screen {
  @apply relative flex items-center justify-center h-screen w-screen bg-blue-100;
}

.join-screen__background {
  @apply absolute inset-0 w-full h-full object-cover;
}

.join-screen__menu {
  @apply absolute bottom-20 flex flex-col items-center;
}

.join-screen__buttons {
  @apply absolute bottom-[8rem] right-[24rem] flex flex-col gap-[3rem] ;
}

.join-screen__button {
  @apply px-14 py-6 border-2 border-yellow-500 bg-[#F3EAD0] text-lg font-bold text-black rounded-lg shadow-lg 
  hover:bg-yellow-500 transition-all duration-300 ease-in-out; 
} 

.background {
  @apply items-center inset-0 w-[1080] h-[950px] object-cover blur-sm ;
}

.iceCream {
  @apply rounded-2xl relative w-[850] h-[850px] object-cover; 
}


.join-modal-content {
  @apply flex flex-col items-center p-8 text-white min-h-[300px];
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.join-modal-title {
  @apply text-4xl font-bold mb-8 text-center;
}

.join-modal-forms {
  @apply w-full flex flex-col gap-6 items-center; 
} 

.join-modal-input {
  @apply items-center w-64 py-3 px-4 rounded-lg border-2 border-gray-200 text-base bg-opacity-90 bg-white text-gray-800;
}

.join-modal-input:focus {
  @apply outline-none border-blue-500;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

.join-modal-buttons {
  @apply flex justify-between mt-4 gap-4;
}

.join-modal-button-cancel {
  @apply items-center py-3 px-6 border-2 h-[3.2rem] w-[7rem] border-yellow-500 bg-[#F3EAD0] text-lg font-bold text-black rounded-lg shadow-lg 
  hover:bg-red-500 transition-all duration-300 ease-in-out;
}


.join-modal-button-join {
  @apply items-center py-3 px-6 border-2 h-[3.2rem] w-[7rem] border-yellow-500 bg-[#F3EAD0] text-lg font-bold text-black rounded-lg shadow-lg 
  hover:bg-yellow-500 transition-all duration-300 ease-in-out;
}
