.sprite {
    width: 30px;
    height: 37px;
    background-image: url("../../public/vainilla.png"); /* Asegúrate de cambiar la ruta */
    background-repeat: no-repeat;
    transform: scale(1); /* Doble de tamaño */
    transform-origin: center;
}
